<div class="form-group" *ngIf="selectedAccount">

  <div *ngIf="transferencia">

    <div class="form-group">
      <h2>Realizar Pagamento</h2>
    </div>

    <div class="conteudo">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h5>Conta Origem:</h5>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-4 col-sm-4">
          <label>Contrato Financeiro:</label>
          <select name="numertoSubcreditoSelecionado" class="form-control form-control-sm" [(ngModel)]="transferencia.numeroSubcreditoSelecionado"
            (ngModelChange)="atualizaInfoPorMudancaSubcredito()">
            <option *ngFor="let subcredito of transferencia.subcreditos | orderBy: 'nome'" [attr.value]="subcredito.numero">{{subcredito.numero}}</option>
          </select>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Saldo em BNDESTokens:</label>
          <input type="text" name="saldo" class="form-control form-control-sm" [ngModel]="transferencia.saldoOrigem" currencyMask readonly
            disabled/>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Saldo em R$:</label>
          <input type="text" name="saldoReal" class="form-control form-control-sm" [ngModel]="transferencia.saldoOrigem" currencyMask
            [options]="{ prefix: 'R$ '}" readonly disabled/>
        </div>

      </div>
    </div>

    <div class="conteudo">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h5>Conta Destino:</h5>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <label>CNPJ:</label>
          <input [ngModel]="transferencia.cnpjDestino | cnpjMask" class="form-control form-control-sm" (ngModelChange)="recuperaFornecedor()"
          [textMask]="{mask: maskCnpj}" />
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Razão Social:</label>
          <input type="text" class="form-control form-control-sm" [ngModel]="transferencia.razaoSocialDestino" readonly disabled/>
        </div>
     
    </div>

    <div class="conteudo">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h5>Transferência:</h5>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <app-input-validation errorMessage="Campo Obrigatório">
            <label class="required">Valor a transferir (em BNDESTokens):</label>
            <input currencyMask [(ngModel)]="transferencia.valorTransferencia" class="form-control form-control-sm" 
              required />
          </app-input-validation>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Equivalente em R$:</label>
          <input currencyMask [(ngModel)]="transferencia.valorTransferencia" class="form-control form-control-sm" 
            [options]="{ prefix: 'R$ '}" readonly disabled />
        </div>
      </div>


    </div>

    <div class="form-group">
      <button (click)="transferir()" type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Transferir"
        [disabled]="transferencia.msgEmpresaDestino != 'Repassador do Subcrédito' && transferencia.msgEmpresaDestino != 'Fornecedor'">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Transferir
      </button>
    </div>
  </div>


</div>
<app-metamsg *ngIf="!selectedAccount"></app-metamsg>